<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cfcDao" class="dao.ClassicformulacompositionDao"></bean>
   
    <bean class="dao.TraditionalchinesemedicineDao" id="tcmDao"> </bean>

	<bean class="dao.TcmrelationDao" id="tcmrelationDao"> </bean>
	
	<bean id="claDao" class="dao.ClassicformulaDao"></bean>
	

	<bean class="service.TraditionalchinesemedicineService" id="tcmService"></bean>
	
	<bean id="claService" class="service.ClassicformulaService"></bean>
	
	<bean class="service.TcmrelationService" id="tcmrelationService"> </bean>
	
	<bean id="cfcService" class="service.ClassicformulacompositionService"></bean>
	
</beans>